1. An app to store credential info provided by user for each specific purpose.
2. App should store the password in an encrypted format
3. App should have a UI that can be used for both adding new credential info to store or retrieving any existing credential info as requested by the user and can update with new password.
4. May be app can show only the partial password and send a secondary authentication code via SMS or email, and up on successful authentication, app should show the remaining password.
5. May be password display should automatically vanish after certain amount of time.
6. Utilize highly efficient encryption algorithm.
7. Follow software design pattern.
8. App should be developed in java related technologies along with either angular or react as front end. Suggest any other technologies.
9. Suggest/Advice any improvements/enhancements for the app.
10. Also highlight if any concerns.